{
    "presets": [
        "react",
        "env"
    ],
    "plugins": [
        "transform-class-properties"
    ],
    "env": {
        "production": {
            "presets": ["babili"]
        }
    }
}
